# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
303metals/LabReport.txt
*.txt
303ReviewAppHyp/www/stormy.jpg
303ReviewAppHyp/www/stormyLook.jpg
cityLanduse/maps.xlsx
hygraphSelect/.Rhistory
hygraphSelect/ppRain.csv
hygraphSelect/ppseEff.csv
hygraphSelect/ui.r
hygraphSelect/server.r
*.r#
hygraphSelect/USGSBartlett2011.csv
hygraphSelect/server.r
hygraphSelect/ppseFlow.dat
hygraphSelect/LLI&E.csv
hygraphSelect/bartlettPrecip2011.csv
ll2/LLI&E.csv
ll2/ppRain.csv
ll2/ppseEff.csv
ll2/server.r
ll2/ui.r
ll2/ppseFlow.dat
ExceedanceApp/ui.R
ExceedanceApp/metalsThresFuns.r
ExceedanceApp/appText.dat
ExceedanceApp/metalsFun.r
.Rhistory
ExceedanceApp/returnSiteName.r
*.Rhistory
